{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

  <link rel="stylesheet" href="{% static 'css/site.css' %}">
  {% block links %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}" defer></script>
  <script src="{% static 'js/bootstrapify.js' %}" defer></script>
  {% block scripts %}{% endblock %}

  <title>LMS Impacta - {% block titulo %}{% endblock %}</title>


</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand text-hide" href="{% url 'lms:index' %}">
        <img src="{% static 'imagens/impacta-logo.png' %}" alt="logo da Impacta" />
        LMS IMPACTA
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="cursosDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Cursos
            </a>
            <div class="dropdown-menu" aria-labelledby="cursosDropdown">
              {% for curso in cursos_menu %}
              <a class="dropdown-item" href="{% url 'curriculo:curso' curso.sigla %}">{{ curso.nome }}</a>
              {% empty %}
              <p class="p-3 text-muted">
                Nenhum curso autorizado no momento!
              </p>
              {% endfor %}
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'lms:contato' %}">Contato</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {% if not user.is_authenticated %}
            <li class="nav-item d-flex align-items-center">
              <div class="btn-group" role="group" aria-label="novo usuário">
                <a class="btn btn-outline-success" href="{% url 'contas:registrar' %}">Inscreva-se</a>
                <a class="btn btn-outline-primary" href="{% url 'contas:entrar' %}">Entrar</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {% if user.tipo == 'A' and user.aluno.foto %}
                  <img src="{% get_media_prefix %}{{ user.aluno.foto }}" class="avatar" alt="foto do usuário" />
                {% else %}
                  <img src="{% static 'imagens/profile.png' %}" class="avatar" alt="foto do usuário" />
                {% endif %}
                {{ user }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ user.get_absolute_url }}">
                  Área do {{ user.get_tipo_display }}
                </a>
                {% if user.tipo == 'P' %}
                  <a class="dropdown-item" href="{% url 'restrito:atividade_lista' %}">Atividades</a>
                {% elif user.tipo == 'A' %}
                  <a class="dropdown-item" href="{% url 'restrito:matricula_lista' %}">Matrícula</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'contas:alterar' %}">Meus Dados</a>
                <a class="dropdown-item" href="{% url 'contas:sair' %}">Sair</a>
              </div>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main role="main">
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}


    {% block main %}

    {% endblock %}
  </main>
  <footer class="text-white bg-secondary mt-3 py-3 px-2">
    <ul class="d-inline-block">
      <li class="d-inline">
        <a href="https://www.facebook.com/FacImpacta/" title="Página do Facebook" class="text-white" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="d-inline">
        <a href="https://www.instagram.com/faculdadeimpacta/" class="text-white" title="Instagram" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="d-inline">
        <a href="https://www.linkedin.com/edu/faculdade-impacta-tecnologia-161006" class="text-white" title="Linkedin"
          target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li class="d-inline">
        <a href="https://twitter.com/facimpacta" class="text-white" title="Twitter" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="d-inline">
        <a href="https://www.youtube.com/user/GrupoImpacta" class="text-white" title="YouTube" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
    </ul>
    <p class="float-right"><a href="#">Topo</a></p>
    <p>{% now 'Y' %} Faculdade Impacta 11 3254-8300 Todos os direitos reservados.</p>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
</body>

</html>